.admin-login{
    background-color: white; 
    border: 5px solid #01d7bd;
    padding: 20px; 
    width: 30%;
    margin-top: 10%;
    margin-left: 35%;
    box-shadow: 0px 0px 2% rgba(0, 0, 0, 0.3); 
    animation: fadeIn 0.5s ease-in-out;
  }
  
 .admin-login h1{
  text-align: center;
 }
.admin-login  label {
    font-weight: bold;
    color: #01d7bd;
    padding-right:310px;
    padding-left: 40px;
   
  }

.admin-login {
    height: fit-content;
}
  
 .admin-login input[type='email'],
 .admin-login input[type='password'] {
    width: 80%; 
    padding: 2%; 
    margin-left: 9%;
    margin-bottom: 8%;
    margin-top: 2%;
    
    border: 1% solid #000322; 
    border-radius: 2%; 
  }
 
  
  .admin-login   button[type='submit'] {
    background-color: #000322; 
    color: #01d7bd;
    margin-left: 180px;
    border: none;
    padding: 3% 6%; 
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .admin-login   button[type='submit']:hover {
    background-color: #01d7bd;
    color: #000322;
  }
  
  
  
  
  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(-2%);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }