.logout{
    padding:20px;
    position: relative;
    bottom:180px;
    left:1300px;
    font-size: large;
    font-weight: bolder;
    overflow:hidden;
    background-color: #313133;
    color:   #4FD1C5;
}
